@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    @apply m-0 p-0;
}
.container-navbar{
    @apply bg-[#fafcfc] w-full p-5;
}
.row-navbar{
    @apply  text-center flex flex-row px-10 h-[50px] py-5 items-center justify-between
}
.btn-header{
@apply flex flex-row text-[15px] font-bold text-center items-center  bg-[#f3f6f6];
border: 1px solid #f6f7f7;
border-radius: 7px;
padding: 8px 11px;

}
.btn-header:hover{
    @apply bg-[#fff]
}
.btn-header span{
    @apply ml-1
}
.course-items{
    @apply flex flex-row-reverse mx-10 items-center font-bold

}
.item-navbar{
    @apply mx-5 text-[15px]
}
.img-header{
@apply ml-5
}
.container-enter{
@apply w-full bg-[#fff] 
}
.row-enter{
@apply flex flex-row items-center justify-between p-4
}
.entering{
@apply flex flex-row text-center items-center
}
.btn-enter{
    @apply flex flex-row px-3 py-2 text-center text-[15px] font-bold items-center ml-10;
    background: linear-gradient(-45deg,#11ebfc,#d81ad3 130%);
    color: #fff;
    border-radius: 12px;
}
.btn-enter span{
    @apply mx-2
}
.enter-icon{
    @apply ml-3 bg-[#f5f3f3] p-2 text-[13px];
    border-radius: 10px;
}

.texting-enter{
    @apply flex flex-row-reverse items-center font-bold mr-10
 
}
.enter-items{
    @apply mx-6 max-[1200px]:mx-2 text-[14px]
}
/* cases */
.container-cases{
    @apply mb-10;
    background: linear-gradient(-55deg,#9b96e0 25%,#e899e5 10%,#4e6df4 110%);
    height: 590px;
	animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* navbar */
.container-case{
    padding: 14px 17px;
    margin-top: 24px;
    white-space: nowrap;
    overflow-y: hidden;
    background: rgba(255,200,200,.1);
}
.row-case{
    @apply p-5 mb-16 flex flex-row-reverse text-[#fff];
    background: rgba(255,255,255,.18);
    background: #d5b8b8;
    border-radius: 9px;
    box-shadow: 0 3px 50px rgba(225,225,225,.35);
    padding: 14px 17px;
    margin-top: 24px;
    white-space: nowrap;
    overflow-y: hidden;

}
.home-case{
@apply flex flex-row-reverse
}
.case-items{
    @apply ml-5
}
.case-item{
@apply mx-5
}
/* navbar */
.case-imgtext{
    @apply flex flex-row-reverse justify-evenly
}
.img-case{
    height: 370px;
    object-fit: cover;
    object-position: top;
    border-radius: 18px;
    box-shadow: 0 3px 20px rgba(0,118,244,.23);

    }
.texting-case{
@apply flex flex-col text-right w-[50%]
}
.header-case{
    margin-bottom: 26px;
    font-size: 28px;
    font-weight: 900;
    line-height: 31px;
    color: #15192a;
}
.desc-case{
@apply text-[15px] mt-3 mb-6;
    font-weight: 600;
    line-height: 31px;
    color: #474b5b;
}
.buttons-case{
@apply flex flex-row-reverse justify-start
}
.btn-case{
    @apply px-3 py-2 text-[15px] font-bold ml-3;
    background: linear-gradient(-45deg,#11ebfc,#d81ad3 130%);
    box-shadow: 0 3px 20px rgba(0,118,244,.23);
    color: #fff;
    border-radius: 12px;
}
/* cases */
/* describtion */
.container-desc{
@apply flex flex-col text-right my-20;
max-width: 1140px;
}
.paragragh-desc{
@apply text-[15px] font-bold pl-72 mb-3;
line-height: 31px;
}
.s-desc{
    color: #d81ad3;
    @apply font-bold;
}
.header-desc{
@apply text-[20px] font-bold mb-5;
line-height: 31px;
}
.s-header{
    color: #d81ad3;
    @apply font-bold;
}
.list-desc{
    @apply flex flex-col;
    list-style-type:disc;
    list-style-position:inside;
    direction: rtl;
}
.items-desc{
    @apply text-[15px] font-bold my-3 ;
    
}

/* describtion */
/* show more */
.container-pic{
    @apply flex flex-col text-right justify-center my-20 relative;
    max-width: 1140px;
}
.img-pic{
    @apply flex justify-center w-[60%] m-auto pb-10;

}
.start-pic{
    display: none;
}
.btn-pic{
    @apply absolute ;
    left: 60%
}
.btn-pic,.btn-close{
    @apply px-8 py-2 text-[20px] font-bold ;
    display: block;
    margin: 0 auto;
    background: linear-gradient(-45deg,#11ebfc,#d81ad3 130%);
    box-shadow: 0 3px 20px rgba(0,118,244,.23);
    color: #fff;
    border-radius: 12px;
}
/* show more */
/* user */
.container-user{
@apply flex flex-col justify-center w-[60%] m-auto my-32 text-center;
}
.header-user{
@apply text-[15px] font-bold my-3 
}
.paragragh-user{
    @apply mb-8
}
.list-user{
@apply flex flex-col;

}
.talk-user{
@apply flex w-full pb-48 text-center pt-3;
border: 1px solid #a4a4a4;
border-radius: 30px;
}
.row-user{
    @apply flex flex-row-reverse my-5
}
.letter-user{
@apply flex flex-wrap w-[50%] text-right pb-14 pr-3 mx-3;
border: 1px solid #a4a4a4;
border-radius:10px;
}
.email-user{
@apply flex flex-wrap w-[50%] text-right pb-14 pr-3;
border: 1px solid #a4a4a4;
border-radius: 10px;
}
.btn-user{
    @apply px-8 py-2 text-[20px] font-bold ;
    display: block;
    margin: 0 auto;
    background: linear-gradient(-45deg,#11ebfc,#d81ad3 130%);
    box-shadow: 0 3px 20px rgba(0,118,244,.23);
    color: #fff;
    border-radius: 12px;
}
/* user */